.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #1a2639; /* Azul oscuro */
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    position: fixed;
}

.sidebar-logo {
    text-align: center;
    margin-bottom: 40px;
}

.sidebar-nav {
    flex-grow: 1;
}

.sidebar-footer {
    padding: 0 20px 40px 20px;
    text-align: center;
}

.nav-item {
    width: 100%;
    background: none;
    border: none;
    color: #a0a8b3;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1rem;
}

.nav-item:hover, .nav-item.active {
    background-color: #25334d;
    color: white;
    border-left: 4px solid #fff;
}

.sidebar-icon {
    margin-right: 15px;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}

.btn-logout {
    width: 100%;
    padding: 16px;
    background-color: #ff5c5c; 
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.btn-logout:hover {
    background-color: #e54545;
    transform: scale(1.02);
    box-shadow: 0 4px 12px rgba(255, 92, 92, 0.3);
}